&spi2 {
	status = "okay";
	// cs-gpios = <&arduino_header 16 GPIO_ACTIVE_LOW>; /* D10 */
	pinctrl-0 = <&spi2_mosi_pb15 &spi2_miso_pb14 &spi2_sck_pb13 &spi2_nss_pb12>;
	can3: mcp2515@0 {
		compatible = "microchip,mcp2515";
		spi-max-frequency = <1000000>;
		int-gpios = <&gpioa 1 GPIO_ACTIVE_LOW>; /* D2 */
		status = "okay";
		label = "CAN_3";
		reg = <0x0>;
		osc-freq = <16000000>;
		bus-speed = <125000>;
		sjw = <1>;
		prop-seg = <2>;
		phase-seg1 = <7>;
		phase-seg2 = <6>;
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&can2 {
	status = "disabled";
};

/ {
	aliases {
		can-dev = &can3;
	};
};